body {
  margin: 0 !important;
  padding: 0 !important;
  overflow-anchor: none !important;
}
a:-webkit-any-link {
  overflow-anchor: none !important;
  overscroll-behavior: none;
}

.navbar-nav{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  margin-left: 10vw;
}
.offcanvas.offcanvas-end {
  max-height: max-content;
  border-bottom: var(--bs-offcanvas-border-width) solid
    var(--bs-offcanvas-border-color);
  padding-bottom: 20px;
}
.offcanvas-body > .input-group {
  width: 100%;
}
button.login {
  border: none;
}
/* CARDS */
#announcements-list {
  display: flex;
  flex-wrap: wrap;
}
#announcements-list > article {
  margin: 10px;
}
#announcements-list > article > .card {
  height: 500px;
  overflow: auto;
}

#announcements-list > article > .card > .picture {
  max-height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.sale {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 5px 10px;
}

/* CAROUSEL */
#carousel-container {
  background-color: var(--bs-purple);
}
.carousel-inner {
  max-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.carousel-item {
  display: initial;
  opacity: 0;
  transition: all 1s;
  margin-top: 10vh;
}

.carousel-item.active {
  display: initial;
  opacity: 1;
  transition: all 1s;
}
.carousel-indicators [data-bs-target] {
  background-color: var(--bs-info);
  height: 30px;
  opacity: 0.5;
}
.carousel-indicators [data-bs-target].active {
  opacity: 1;
}
.carousel h2 {
  position: absolute;
  width: 300px;
  height: 10vh;
  background: var(--bs-warning);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  left: 20vw;
  top: 5vh;
}
.carousel-item .datas {
  position: absolute;
  width: 300px;
  height: 10vh;
  background: var(--bs-warning);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  right:  40vw;
  bottom: 10vh;
}

/* SPINNER */
.spinner.hide{
  display: none;
}

.spinner-border {
    --bs-spinner-width: 20rem;
    --bs-spinner-height: 20rem;
    --bs-spinner-vertical-align: -0.125em;
    --bs-spinner-border-width: 4em;
    --bs-spinner-animation-speed: 1.2s;
    --bs-spinner-animation-name: spinner-border;
    border: var(--bs-spinner-border-width) solid currentcolor;
    border-right-color: transparent;
    margin: 30px auto;
}

/* notifications */
.notification-container {
    position: fixed;
    height: 60vh;
    display: flex;
    align-items: center;
    width: 100vw;
}
/* modal */

.modal.show{
  display: flex;
  position: fixed;
  height: 60vh;
  width: 100vw;
  align-items: center;
}
.modal.show .modal-dialog{
  width: 50vw;


}
/* singup */

#signup, #create-announcement{
    height: 80vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* create-announcement-form */
#create-announcement-form .input-group-text{
  width: 80px;

}
.form-check-input:checked {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
}
#create-announcement-form .switchs .input-group{
  width: max-content;
  margin: 20px;
}
